.authentication {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 0 auto;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  width: 300px;
  height: 50px;
  margin-right: 20px;
  border: none;
  border-radius: 25px;
  box-shadow: 0 0 10px #8cc054;
  outline: none;
  text-align: center;
  font-size: 18px;
}

.input:hover,
.input:focus {
  box-shadow: 0 0 10px #8cc054;
}
