.signIn {
  width: 35px;
  height: 35px;
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

.signIn svg {
  fill: #8cc054;
  transition: fill 0.2s linear;
}

.signIn svg:hover,
.signIn svg:focus {
  fill: #8cc054;
}
