.nav {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
}

.list {
  display: flex;
  justify-content: space-around;
}

.link {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}
.link:hover {
  opacity: 0.9;
}

.active {
  color: #8cc054;
}
